@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Comforter+Brush&family=Monoton&family=Road+Rage&family=Style+Script&family=Vesper+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila&family=Neucha&family=Permanent+Marker&family=Strait&display=swap');
section.marketing {
  background-color: white;
  margin: .5em .5em .5em .5em;
  box-shadow: 0 0 1rem 0 black;
  border-radius: 8px;
}

section.marketing p  {
  align-items: center;
  justify-content: center;
  margin: auto auto auto 1em;
  font-family: 'Poppins', cursive;
  font-weight: 900;
  font-size: 1.05em;
  color:#4d4d4d;
}

.par{
  padding: 2.5em;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.par h3{
  max-width: 100%;
  text-align: center;
 font-weight: bold;
 color: darkmagenta;
  font-family: 'Laila', cursive;
}
h4{ 
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.3em;
  margin-top: .3em;
  text-align: center;
  color: rgb(39, 39, 39);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.mark {
  background: white;
  margin: 3em auto 2.5em 0;
  padding: 1em;
  box-shadow: 0 0 .5rem 0 black;
  width: 100%;
}

.mark h2 {
  text-align: center;
  padding-left: .5em;
  margin: -2.5em auto 1em -.5em;
  color: rgb(55, 84, 10);
  font-size: 1.25em;
  font-family: 'Trebuchet MS';
}
.close {
 font-size: 2.5em;
 margin: -1.4em 0 auto auto;
  cursor: pointer;
}

.sell{
  background-color: plum;
  border-radius: 100%;
  box-shadow: 0 .1rem .5rem 0 gray;
  width: 1.7e;
  height: 1.7em;
  cursor: pointer;
}
.sell:hover{
  background-color: grey;
}


.mark label {
  display: block;
  margin-top: 1em;
  margin-bottom: 0;
  font-weight: bold;
  color:black ;
  font-family: 'Poppins';
}

.mark label span {
  color: var(--primary-color);
}

.mark input{
  border-bottom: 3px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0;
  width: 100%;
  height: 2.5em;
  font-family: 'Poppins';
  font-size: 1em;
  font-weight: bold;
}
.mark textarea {
  border: none;
  margin-bottom: .3em;
  box-shadow: 0 0 .5rem 0 black;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-family: 'Poppins';
  font-size: 1em;
  font-weight: bold;
}
input[type="file"]{
  display: none;
}

.chooseImage {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: .15em;
  font-weight: bold;
  font-family: 'Trebuchet MS',sans-serif;
  align-items: center;
  background-color: white;
  width: 2.65em;
  border: none;
  box-shadow: 0 .1rem .2rem 0 black;
  cursor: pointer;
  justify-content: center;

}
.chooseImage:hover {
 background-color: rgba(255, 108, 55, 0.741);
}
.material-icons{
 margin-top: .25em;
 }

 .postBtn{
  display: grid;
  grid-template-columns: 150px auto;
  }

.submit {
color: black;
cursor: pointer;
border-radius: 4px;
box-shadow: 0 .2rem .4rem 0 black ;
border: none;
width: 4.5em;
margin:1.5em 2.5em auto .5em ;
background-color:white;
font-weight: 600;
height: 2em;

}

.resetAll {
  color: black;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem 0 black ;
  border: none;
  width: 4.5em;
  margin:1.5em auto auto 2.5em ;
  background-color:white;
  font-weight: 600;
  height:2em ;
  }
  
.submit:hover {
background-color: black;
color: white;
}
.resetAll:hover {
  background-color: black;
  color: white;
  }

section.contact-right h3 {
  margin-top: -.5em;
  margin-left: 2em;
  font-family: 'Trebuchet MS';
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}

section.contact-right h3 span {
  color: red;
}

section.contact-right iframe {
    width: 95%;
    height: 18em;
    margin-left: .25em;
}
.locationLogo{
  width: 1.6em;
  height: 1.6em;
  margin-top: -4.5em;
  margin-left: .5em;

}

.logoss{
  align-self: center;
display: grid;
grid-template-columns: 22% 22% 22% 22% 22% ;
}
.clothLogo{
  border-radius: 100%;
  border: 2px solid #361500;
  background-color: #361500;
  width: 1.8em;
  height: 1.8em;
  margin-left: .65em;
 margin-top: 2em;
}

.laptopSell{
  border-radius: 100%;
  border: 2px solid #361500;
  background-color: #361500;
  width: 1.9em;
  height: 1.9em;
  margin-top: 2em;
}

.phoneSell{
  border-radius: 100%;
  border: 2px solid #361500;
  background-color: #361500;
  width: 2em;
  height: 2em;
  margin-top: 2em;
}


.carLogo{
  border-radius: 100%;
  border: 2px solid #361500;
  background-color: #361500;
  width: 2em;
  height: 2em;
  margin-top: 2em;
}

.houseLogo{
  border-radius: 100%;
  border: 2px solid #361500;
  background-color: #361500;
  width: 2em;
  height: 2em;
  margin-top: 2em;
}


.center{
  text-align: center;
}

.regionFilter{
  border-right: none;
  border-bottom: none;
  border-top: none;
   width: 2.4em;
   height: 2.5em;
   margin-left: -2.5em;
  border-left: 2px solid gray;
   color: rgb(40, 40, 40);
   background: linear-gradient(45deg ,  white 5%,plum 20%,  wheat 80%);
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   
 }
 .regionFilter:hover{
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   border-left: 2px solid black;
   color: black;
   background: linear-gradient(45deg ,  white 5%,orchid 20%,  goldenrod 80%);
 }

 .call{
  width: 2em;
  height: 2em;
}
.more{
  text-align: center;
}
 
 .center{
   text-align: center;
 }
 
 .regionSearch{
     margin-top: 1em;
     border-radius: 8px;
     width: 17.25em;
     height: 2.75em;
     border: none;
     background-color: whitesmoke;
     box-shadow: 0 0 .6rem 0 #333333;
     font-family: 'Trebuchet MS';
     font-size: 1.05em;
     text-align: center; 
     margin-left: 2.5%;
 }

.nameSearch{
  margin-top: 1em;
  border-radius: 8px;
  width: 17.25em;
  height: 2.75em;
  border: none;
  background-color: whitesmoke;
  box-shadow: 0 0 .6rem 0 #333333;
  font-family: 'Trebuchet MS';
  font-size: 1.05em;
  text-align: center;
  margin-left: 2.5%;
}

.searchIcon{
  width: 2.5em;
  height:2.5em;
  margin-bottom: .20em;
  margin-left: -2.7em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 2px solid gray;
  background: linear-gradient(45deg ,  white 5%,plum 20%,  wheat 80%);
 }

 .searchIcon:hover{
  border-left: 2px solid black;
  background-color: gray;
  cursor: pointer;
 }

.alerter{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    text-align: center;
   margin-top: 1.4em;
   color:#361500;
}
.item-card-part1{
margin: .8em auto .4em .20em;
 border-radius: 8px;
 box-shadow: 0 .3rem .4rem 0 black;
 width: 98%;
 height: 23.5em;
display: inline-block;
background: linear-gradient(135deg ,  whitesmoke 90%,  plum 95%, wheat 100%);
}


.loco{
  width: 1.3em;
  height: 1.3em;
  margin-top: -0.5em;
}
.loco:hover{
  cursor: pointer;
}
.item-rounded-image{
  object-fit: contain;
  width: 100%;
   height: 15.5em;
   margin: .25em .25em .5em 0;
}

.event{
  object-fit: contain;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
}

.items-attributes {
    list-style-type: none;
  font-weight: 600;
   font-size: .85em;
    margin-left: -1.8em;
    margin-top: .5em;
    color:black;
    font-family: 'Comfortaa';
    letter-spacing: .07em;  
}
.it-attributes{
  list-style-type: none;
}

.spa{
  font-family: 'comfortaa';
    color:rgb(56, 87, 8);
  font-size: 1.05em;
  font-weight: bolder;
}


.deleteItemLogo{
  width: 1.6em;
  height: 1.6em;
  float: right;
  margin-top:-.1em ;
  margin-right: .45em;
  cursor: pointer;
  z-index: 855;
  background-color:plum;
  border-radius: 12px;
 
}.deleteItemLogo:hover{
 background-color: gainsboro;
}

.postBtn{
 display: grid;
 grid-template-columns: 60px auto;
}

.closeDelete{
 float: right;
font-size: 1.6em;
 border: none;
 background-color: rgb(99, 152, 20);
 margin: 0 .5em .5em auto;
 cursor: pointer;
 }

 .pass label{
   color:#361500;
 display: block;
 margin-left: .8em;
 margin-bottom: .3em;
  }
  .pass{
    margin-bottom: 1.5em;
    margin-top: 1em;
     }
 
     .updateCheck {
      display: block;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 .1rem .3rem 0 black ;
    width: 4em;
    margin-top: 1.5em;
    background-color: black;
    border: none;
    margin-left: 1.5em;
    }
    .updateCheck:hover {
    background-color: white;
    color: black;
    
    }


body {
  background-color: white;
  font-family: 'Trebuchet MS';
}



@media only screen and (min-width: 640px) {
  .locationLogo{
   display: none;
  }
}
@media only screen and (min-width: 690px) {

 
.grid{
 display: flex;
  align-items: center;
 justify-content: center;
}
  section.marketing p{
    font-size: 110%;
   margin-right: -1em;
   width: 75%;
   float: right;
   color: rgb(25, 25, 25);
   border: none;
   box-shadow: none;
  }
  
  .event{
    width: 180%;
    height: 25em;
   margin: auto auto auto 1%;
   background-color: transparent;
  }
  .cards{ 
    margin-left: 1%;
      display: grid;
        grid-template-columns:50% 50%;
    }
    .item-card-part1{
      width: 20em;
     }
  }
@media only screen and (min-width: 1015px) {
 
  section.marketing{
    background: linear-gradient(45deg ,  white 83%,  plum 88%, orange 98%);
   }
  .cards{ 
    margin-left: 1%;
    display: grid;
      grid-template-columns:33% 33% 33%;
    }
  .item-card-part1{
    width: 20em;
    margin-left: .4em;
   }
}
@media only screen and (min-width: 1340px) {
  .cards{ 
    margin-left: 1%;
    display: grid;
      grid-template-columns: 25% 25% 25% 25% ;
    }
  }
              
  @media only screen and (min-width: 630px) {
                

.locationLogo{
  display: none;
 
 }
 
.logoss{display: none;
} 
}

.footer-section{
  background-color: #151414;
  padding: 1em;
}
.footer-section span{
 color: rgb(138, 138, 138);

}
.copyright-text{
 border-bottom: -2em;
 color:rgb(100, 100, 100); 
}