
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="events.component.css">
    
    <body id="markSec">
    
      <br>
       <br id="aboutApp">
      <section class="marketing">
        <div class="grid">
        <div>
        <img class="event" src="https://img.freepik.com/free-vector/colleagues-preparing-corporate-party-time-management-deadline-brand-event-event-brand-management-sponsored-event-organization-concept_335657-120.jpg?size=626&ext=jpg&ga=GA1.1.761342888.1672160419&semt=sph" alt="">
        </div>
        <div class="logoss">
          <img class="clothLogo" src="https://cdn-icons-png.flaticon.com/128/7829/7829198.png" alt="">
       <img class="phoneSell" src="https://cdn-icons-png.flaticon.com/128/4593/4593879.png" alt="">
       <img class="carLogo"  src="https://cdn-icons-png.flaticon.com/128/1387/1387205.png" alt="">
       <img class="houseLogo" src="https://cdn-icons-png.flaticon.com/128/1141/1141443.png" alt="">
       <img class="laptopSell" src="https://cdn-icons-png.flaticon.com/128/3994/3994170.png" alt="">
        </div>
      <br>
      
      <div class="par">
        <h3>Event WebApp</h3>
        <P >this is an example of an Event<sup>WebApp</sup> every card is generated automatically as you post your event.
            delete posted event by entering 5 figure password.
            promote events by clicking the plus button.
            <img (click)="onOpenModal('create')" class="sell"   src="https://cdn-icons-png.flaticon.com/128/5176/5176373.png"  alt=""> 
            <br>
            Here you can search for different events by entering a Category like club Concert houseparty football
       </P>
      </div>
    </div>
    <br>
    <form>
      <div class="center">
      <input class="regionSearch" type="search" #region="ngModel" ngModel name="region" required   placeholder="region of preference...">
     <button class="regionFilter" (click)="byRegion(region.value)">ok</button>
     </div>
    </form>
  <form>
    <div class="center">
      <input type="search" (ngModelChange)="searchEvent(key.value)" #key="ngModel" ngModel  name="key" id="searchName" class="nameSearch" placeholder="enter Category Concert..."><img class="searchIcon" src="https://cdn-icons-png.flaticon.com/128/5423/5423194.png" alt="">
    </div>
    </form>
    <div *ngIf="eventsArray?.length==0" class="noItems">
      <div class="alerter" role="alert">
        <h4 class="alerter">No Event Found!</h4>
    </div>
  </div>
  
 <!--card section-->
 <section class="cards" id="main-container">
    <div *ngFor="let event of eventsArray"   class="item-container1">
      <div class="item-row">
        <div class="item-column1">
          <div class="item-card-part1">
            <div id="carouselExampleSlidesOnly" data-bs-ride="carousel"  class="carousel slide" >
            <div class="carousel-inner" style="background-color: whitesmoke;  height: 16em;" role="listbox" >
              <div class="carousel-item active">
                <img class="item-rounded-image"  src="https://img.freepik.com/free-psd/holographic-music-band-banner-template_23-2148742145.jpg?size=626&ext=jpg&uid=R89165474&ga=GA1.1.761342888.1672160419&semt=ais" alt="">
              </div>
              <div  class="carousel-item" >
                <img class="item-rounded-image"  src="https://media.istockphoto.com/id/1127652268/de/vektor/night-club-jugendliche-haben-spa%C3%9F-sommerabend.jpg?s=612x612&w=0&k=20&c=AKfUCDI7uT2YNXh9OzynjM4glAplqtrfhG8Tb2J5gxY=" alt="">
              </div>
              <div *ngIf="event.contact!==null"  class="carousel-item">
                <img class="item-rounded-image" src="https://img.freepik.com/free-vector/happy-people-having-fun-rock-concert-flat-illustration_74855-5266.jpg?size=626&ext=jpg&ga=GA1.1.761342888.1672160419&semt=sph" alt="">
              </div>
            </div>
          </div>
            <ul class="items-attributes">
              <li> <a (click)="onOpenModalEdit(event,'moreInfo')"class="delete-button" 
                id="deleteItem" data-placement="top" role="dialog" data-original-title="Delete" ><img  class="deleteItemLogo"
                id="deleteImage" src="https://cdn-icons-png.flaticon.com/128/666/666201.png" alt=""></a> </li>
              <li> <a (click)="onOpenModalEdit(event,'deleteForm')"class="delete-button" 
                id="deleteItem" data-placement="top" role="dialog" data-original-title="Delete" ><img  class="deleteItemLogo"
                id="deleteImage" src="https://cdn-icons-png.flaticon.com/128/2920/2920658.png" alt=""></a> </li>
           <li> <a (click)="onOpenModalEdit(event,'editForm')"class="delete-button" 
                   id="deleteItem" data-placement="top" role="dialog" data-original-title="Delete" ><img  class="deleteItemLogo"
                   id="deleteImage" src="https://cdn-icons-png.flaticon.com/128/181/181540.png" alt=""></a> </li>
              <li class="it-attributes"><i></i>Category <span class="spa">- {{event?.eventCategory}}</span></li>
              <li class="it-attributes"><i></i>Description <span class="spa">- {{event?.eventDescription}}</span></li>
              <li class="it-attributes"><i></i>location <span class="spa">- {{event?.eventLocation}}</span><img (click)="onOpenModal('findLoc')" class="loco" src="https://cdn-icons-png.flaticon.com/128/0/619.png" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  </section>


<!-- create event example-->
  <div class="modal fade" id="createEvent" tabindex="-1" role="dialog" aria-labelledby="createProduct" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="mark">
      <h2>PROMOTE AN EVENT</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <form>
        <label for="productCategory"> Category </label>
        <input type="text" id="productCategory" #eveCat="ngModel" ngModel  name="eveCat" placeholder="like houseparty concert..." maxlength="15">
        <label for="productLocation"> event location </label>
        <input type="text" id="productLocation" #eveLoc="ngModel" ngModel name="eveLoc"  placeholder="event location..." maxlength="31">
        <label for="contact"> Tel <span>:</span></label>
        <input type="tel" id="contact" ngModel #contact="ngModel" name="contact" placeholder="enter atleast 9 figures">
        <label for="productDescription"> event description</label>
        <textarea  id="productDescription" ngModel #eveDesc="ngModel" name="eveDesc" placeholder="brief description of the event..." rows="3" cols="25" maxlength="35"></textarea>
         <label for="productPassword"> Password  <span>(for deleting)</span></label>
        <input type="number" #pass="ngModel" ngModel name="pass" id="productPassword"  placeholder="atleast 8 figures" >
        <label class="chooseImage" for="file">
          <i class="material-icons">add_photo_alternate</i>&nbsp;1</label>
        <input class="form-control" name="imageUrl" type="file" id="file"  accept="image/*" required>
        <img  alt="first" id="displayImage" class="item-rounded-image" >
        <div class="postBtn">
          <button (click)="newEvent(eveCat.value,eveLoc.value,eveDesc.value,contact.value,pass.value)" class="submit">post</button>
          <button class="resetAll" type="reset">clear</button>
        </div>
      </form>
    </div>
    </div>
  </div>
  </div>


  <!--deleting -->
<div  class="modal fade" id="deleteEvent" tabindex="-1" role="dialog" aria-labelledby="updateProduct" aria-hidden="true">
    <div  class="modal-dialog" role="document" style="background-color: white; margin-top: 3em;margin-left: .5em; height: 10em;">
      <div class="modal-content" >
      <button  type="button" class="closeDelete" data-dismiss="modal" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <form>
        <div class="form-group" style="border-radius: 4px; ">
    <label style=" margin-left: .5em; margin-right: .3em;" for="passCheck">to Delete this Product you have to enter your Password</label>
    <input type="number" #passCheck="ngModel" ngModel name="passCheck" style="width: 16em; height:2.5em;  margin: auto auto -1em .8em ;border: none; box-shadow: 0 .0 .4rem 0 black; border-radius: 4px;">
    <button style="margin-left: 1em;" (click)="onDeleteEvent(deleteEvent,passCheck.value)" class="updateCheck">delete</button>
        </div>
    </form> 
  </div>
  </div>
  </div>

  <!--edit product example-->
  <div class="modal fade" id="editEvent" tabindex="-1" role="dialog" aria-labelledby="editProduct" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="mark">
      <h2>EDIT PRODUCT</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <form>
        <label for="productCategory"> Category </label>
        <input type="text" id="productCategory" ngModel="{{deleteEvent?.eventCategory}}" name="eventCategory" maxlength="28">
        <label for="productLocation"> event location </label>
        <input type="text" id="productLocation" ngModel="{{deleteEvent?.eventLocation}}" name="eventLocation" maxlength="65">
        <label for="contact"> Contact <span>:</span></label>
        <input type="tel" id="contact" ngModel="{{deleteEvent?.contact}}" name="contact" placeholder="enter atleast 9 figures">
        <label for="productDescription"> event description</label>
        <textarea  id="productDescription" ngModel="{{deleteEvent?.eventDescription}}" name="eventDescription"  rows="4" cols="27" maxlength="110"></textarea>
         <label for="productPassword"> Password  <span>(for deleting)</span></label>
        <input type="number" ngModel="{{deleteEvent?.password}}" name="productPassword" id="productPassword" >
        <label class="chooseImage" for="file">
          <i class="material-icons">add_photo_alternate</i>&nbsp;1</label>
        <input class="form-control" name="imageUrl" type="file" id="file"  accept="image/*" required>
        <img  alt="first" id="displayImage" class="item-rounded-image" >
        <div class="postBtn">
          <button disabled type="submit"  class="submit">edit</button>
          <button class="resetAll" type="reset">clear</button>
        </div>
      </form>
    </div>
    </div>
  </div>
  </div>
<!--find location-->
  <div  class="modal fade" id="locationForm" tabindex="-1" role="dialog" aria-labelledby="updateProduct" aria-hidden="true">
    <div  class="modal-dialog" role="document" style="background-color: white; margin-top: 3em;margin-left: .5em; height: 11em;">
      <div class="modal-content" >
        <button  type="button" class="closeDelete" data-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
  <section class="contact-right" id="findLocation">
    <h3>Find <span>Location</span> : </h3> <img class="locationLogo" src="https://cdn-icons-png.flaticon.com/128/854/854878.png" alt="">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15923.380644645886!2d11.499670056554136!3d3.84339644704202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bcf7a309a7977%3A0x7f54bad35e693c51!2sJaunde%2C%20Kamerun!5e0!3m2!1sde!2sde!4v1644882446916!5m2!1sde!2sde"  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </section>
  </div>
  </div>
  </div>

<!--moreInfo-->
<div  class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="updateProduct" aria-hidden="true">
  <div  class="modal-dialog" role="document" style="background-color: white; margin-top: 3em;margin-left: .5em; height: 11em;">
    <div class="modal-content" >
      <button  type="button" class="closeDelete" data-dismiss="modal" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 style="font-family: Trebuchet MS;">Contact Information</h4>
      <div class="more">
      <li class="it-attributes"><img class="call" src="https://cdn-icons-png.flaticon.com/128/3128/3128322.png" alt=""> <span class="spa">  {{deleteEvent?.contact}}</span></li>
    </div>
    </div>
</div>
</div>

  </section>


 
  </body>
  

