
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="workers.component.css">

<body id="markSec">

<br>
<section class="marketing">
  <div class="grid">
    <div>
    <img class="event" src="https://img.freepik.com/free-vector/profiling-concept-illustration_114360-5854.jpg?t=st=1718372365~exp=1718375965~hmac=a80eeea5495d8996c8178a939489e8cab408bbd539493f004b5363f70b09bc8c&w=740" alt="">
  </div>
  <div class="logoss">
    <img class="clothLogo" src="https://cdn-icons-png.flaticon.com/128/7829/7829198.png" alt="">
     <img class="houseLogo" src="https://cdn-icons-png.flaticon.com/128/921/921356.png" alt="">
     <img class="phoneSell" src="https://cdn-icons-png.flaticon.com/128/2640/2640788.png" alt="">
     <img class="carLogo"  src="https://cdn-icons-png.flaticon.com/128/2108/2108625.png" alt="">
     <img class="laptopSell" src="https://cdn-icons-png.flaticon.com/128/8955/8955083.png" alt="">
   </div>
   <div class="par">
    <h3>Worker <sup>Webapp</sup></h3>
<P> This is an example of a Worker WebApp
   where you could create a profile and make yourself available for job opportunities.
   click on this plus button to create a profile.
   <img (click)="onOpenModal('create')" class="sell"   src="https://cdn-icons-png.flaticon.com/128/3312/3312174.png"  alt=""> 
   <br>
   Here you can search Workers by professions
 like electrican web developer chef photograph.
  Enter regions like Yaounde in cameroon
   nrw  Duisburg Hamburg Berlin Frankfurt afterwards.
</P>
</div>
  </div>
  <form>
    <div class="center">
    <input class="regionSearch" type="search" #region="ngModel" ngModel name="region" required   placeholder="region of preference...">
   <button class="regionFilter" (click)="byRegion(region.value)">ok</button>
   </div>
  </form>
<form>
  <div class="center">
<input type="search" (ngModelChange)="searchWorker(key.value)" #key="ngModel" ngModel  name="key" id="searchName" class="nameSearch" placeholder="enter profession or job title"><img class="searchIcon" src="https://cdn-icons-png.flaticon.com/128/5423/5423194.png" alt="">
  </div>
</form>
<div *ngIf="workersArray?.length==0" class="noItems">
<div class="alerter" role="alert">
<h4 class="alerter" >No Worker Found!</h4>
</div>
</div>

<br>
   
<!--card section-->  
   
    <section class="cards" id="main-container">
      <div *ngFor="let worker of workersArray"   class="item-container1">
          <div class="item-row">
            <div class="item-column1">
              <div class="item-card-part1">
                <div id="carouselExampleSlidesOnly" data-bs-ride="carousel"  class="carousel slide" >
                <div class="carousel-inner" style="background-color: rgb(255, 255, 255);  height: 16em;" role="listbox" >
                  <div class="carousel-item active">
                    <img class="item-rounded-image"  src="https://media.istockphoto.com/id/1463869896/de/vektor/mechaniker-der-die-versicherung-eines-autos-in-einer-zwischenablage-%C3%BCberpr%C3%BCft.jpg?s=612x612&w=0&k=20&c=J99BuCvwXK3cyz6S7fapNLf70YZm5u8DlIiQz2Yzois=" alt="">
                  </div>
                  <div  class="carousel-item" >
                    <img class="item-rounded-image"  src="https://media.istockphoto.com/id/1473789780/de/vektor/taxi-anwendung-taxi-online-bestellen-3d-designkonzept-mit-charakteren-f%C3%BCr-die-landingpage.jpg?s=612x612&w=0&k=20&c=Tsrm5xLuIWyNRXboOW3_pjNSZ-YdFgI44bPu7MaFUjo=" alt="">
                  </div>
                  <div *ngIf="worker.contact!==null"  class="carousel-item">
                    <img class="item-rounded-image" src="https://media.istockphoto.com/id/1251133546/de/vektor/fotografieren-von-seinem-schreibtisch.jpg?s=612x612&w=0&k=20&c=72v9Iz2_VxhNySX9nN5GalTFra9_v0zIGTYXQJChZhQ=" alt="">
                  </div>
                </div>
              </div>
                <ul class="items-attributes">
                  <li> <a (click)="onOpenModalEdit(worker,'moreInfo')"class="delete-button" 
                    id="deleteItem" data-placement="top" role="dialog" data-original-title="Delete" ><img  class="deleteItemLogo"
                    id="deleteImage" src="https://cdn-icons-png.flaticon.com/128/666/666201.png" alt=""></a> </li>
                    <li> <a (click)="onOpenModalEdit(worker,'deleteForm')"class="delete-button" 
                         id="deleteItem" data-placement="top" role="dialog" data-original-title="Delete" ><img  class="deleteItemLogo"
                         id="deleteImage" src="https://cdn-icons-png.flaticon.com/128/2920/2920658.png" alt=""></a> </li>
                    <li> <a (click)="onOpenModalEdit(worker,'editForm')"class="delete-button" 
                            id="deleteItem" data-placement="top" role="dialog" data-original-title="Delete" ><img  class="deleteItemLogo"
                            id="deleteImage" src="https://cdn-icons-png.flaticon.com/128/181/181540.png" alt=""></a> </li>
                  <li class="it-attributes"><i></i>profession <span class="spa">- {{worker?.jobtitle}}</span></li>
                  <li class="it-attributes"><i></i>Specialty <span class="spa">- {{worker?.specialty}}</span></li>
                  <li class="it-attributes"><i></i>location <span class="spa">- {{worker?.workZone}}</span><img (click)="onOpenModal('findLoc')" class="loco" src="https://cdn-icons-png.flaticon.com/128/0/619.png" alt=""></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
</section>
  
</section>
<hr>

<!--create worker-->
<div class="modal fade" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="createProduct" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="mark">
    <h2>POST WORKER PROFILE</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
    <form>
      <label for="productCategory">job title </label>
      <input type="text" id="productCategory" #jobtitle="ngModel" ngModel name="jobtitle" placeholder="like plumber teacher..." maxlength="28">
      <label for="contact"> contact </label>
      <input type="number" id="price" #contact="ngModel" ngModel name="contact"  placeholder=" enter tel " required>
      <label for="productLocation">work zone </label>
      <input type="text" id="productLocation" #workzone="ngModel" ngModel name="workzone"  placeholder="availability zone..." maxlength="65">
      <label for="email">email <span>:</span></label>
      <input type="email" id="contact" #email="ngModel" ngModel name="email" placeholder=" like banga@gmail.com...">
      <label for="productDescription"> specialty </label>
      <textarea  id="productDescription" #specialty="ngModel" ngModel name="specialty" placeholder="brief description of your specialty in the entered profession..." rows="4" cols="27" maxlength="110"></textarea>
       <label for="password"> Password <span>(for deleting)</span></label>
      <input type="number" #pass="ngModel" ngModel name="pass" id="productPassword"  placeholder="atleast 8 figures" >
      <label class="chooseImage" for="file">
        <i class="material-icons">add_photo_alternate</i>&nbsp;1</label>
      <input class="form-control" name="imageUrl" type="file" id="file"  accept="image/*" required>
      <img  alt="first" id="displayImage" class="item-rounded-image" >
      <div class="postBtn">
        <button (click)="newWorker(contact.value,jobtitle.value,specialty.value,workzone.value,pass.value,email.value)" class="submit">post</button>
        <button class="resetAll" type="reset">clear</button>
      </div>
    </form>
  </div>
  </div>
</div>
</div>


<!--deleting worker-->
<div  class="modal fade" id="deleteWorker" tabindex="-1" role="dialog" aria-labelledby="updateProduct" aria-hidden="true">
  <div  class="modal-dialog" role="document" style="background-color: white; margin-top: 3em;margin-left: .5em; height: 10em;">
    <div class="modal-content" >
    <button  type="button" class="closeDelete" data-dismiss="modal" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
    <form>
      <div class="form-group" style="border-radius: 4px; ">
  <label style=" margin-left: .5em; margin-right: .3em;" for="passCheck">to Delete this Profile you have to enter the Password</label>
  <input type="number" #passCheck="ngModel" ngModel name="passCheck" style="width: 16em; height:2.5em;  margin: auto auto -1em .8em ;border: none; box-shadow: 0 .0 .4rem 0 black; border-radius: 4px;">
  <button style="margin-left: 1em;"  (click)="onDelete(deleteWorker,passCheck.value)" class="updateCheck" >delete</button>
      </div>
  </form> 
</div>
</div>
</div>

 <!--edit worker example-->
 <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="editProduct" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="mark">
    <h2>EDIT WORKER</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
    <form>
      <label for="jobtitle"> profession </label>
      <input type="text" id="productCategory" ngModel="{{deleteWorker?.jobtitle}}" name="jobtitle" maxlength="28">
      <label for="contact"> contact </label>
      <input type="number" id="productLocation" ngModel="{{deleteWorker?.contact}}" name="contact" maxlength="65">
      <label for="contact"> workzone <span>:</span></label>
      <input type="text" id="contact" ngModel="{{deleteWorker?.workZone}}" name="workZone" >
      <label for="email"> email <span>:</span></label>
      <input type="email" id="contact" ngModel="{{deleteWorker?.email}}" name="workZone" >
      <label for="productDescription">specialty</label>
      <textarea  id="productDescription" ngModel="{{deleteWorker?.specialty}}" name="eventDescription"  rows="4" cols="27" maxlength="110"></textarea>
       <label for="productPassword"> Password <span>(for deleting)</span></label>
      <input type="number" ngModel="{{deleteWorker?.password}}" name="productPassword" id="productPassword" >
      <label class="chooseImage" for="file">
        <i class="material-icons">add_photo_alternate</i>&nbsp;1</label>
      <input class="form-control" name="imageUrl" type="file" id="file"  accept="image/*" required>
      <img  alt="first" id="displayImage" class="item-rounded-image" >
      <div class="postBtn">
        <button disabled type="submit"  class="submit">edit</button>
        <button class="resetAll" type="reset">clear</button>
      </div>
    </form>
  </div>
  </div>
</div>
</div>

<!--find location-->
<div  class="modal fade" id="locationForm" tabindex="-1" role="dialog" aria-labelledby="updateProduct" aria-hidden="true">
  <div  class="modal-dialog" role="document" style="background-color: white; margin-top: 3em;margin-left: .5em; height: 11em;">
    <div class="modal-content" >
      <button  type="button" class="closeDelete" data-dismiss="modal" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
<section class="contact-right" id="findLocation">
  <h3>Find <span>Location</span> : </h3> <img class="locationLogo" src="https://cdn-icons-png.flaticon.com/128/854/854878.png" alt="">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15923.380644645886!2d11.499670056554136!3d3.84339644704202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bcf7a309a7977%3A0x7f54bad35e693c51!2sJaunde%2C%20Kamerun!5e0!3m2!1sde!2sde!4v1644882446916!5m2!1sde!2sde"  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
</div>
</div>
</div>


<!--moreInfo-->
<div  class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="updateProduct" aria-hidden="true">
  <div  class="modal-dialog" role="document" style="background-color: white; margin-top: 3em;margin-left: .5em; height: 11em;">
    <div class="modal-content" >
      <button  type="button" class="closeDelete" data-dismiss="modal" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 style="font-family: Trebuchet MS;">Contact Information</h4>
      <div class="more">
      <li class="it-attributes"><img class="call" src="https://cdn-icons-png.flaticon.com/128/3128/3128322.png" alt=""> <span class="spa">  {{deleteWorker?.contact}}</span></li>
      <li class="it-attributes"><img class="call" src="https://cdn-icons-png.flaticon.com/128/6806/6806987.png" alt=""> <span style="color: rgb(19, 108, 103);" class="spa">  {{deleteWorker?.email}}</span></li>
    </div>
    </div>
</div>
</div>


</body>