@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Comforter+Brush&family=Monoton&family=Road+Rage&family=Style+Script&family=Vesper+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila&family=Neucha&family=Permanent+Marker&family=Strait&display=swap');
section.marketing {
  background: white;
  margin: .5em .5em .5em .5em;
  box-shadow: 0 0 1rem 0 gray;
  border-radius: 8px;
}

section.marketing p  {
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 1.05em;
  color: #151414;
}

.par{
  padding: 2.5em;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.par h3{
  text-align: center;
 font-weight: bold;
  color:darkcyan;
  font-family: 'Laila', cursive;
}
.loco{
  width: 1.3em;
  height: 1.3em;
  margin-top: -0.5em;
}

h4{ 
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.3em;
  margin-top: .3em;
  text-align: center;
  color: black;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

h5{
 color: #383838;

}
.dateList{
  margin-left: -.5em;
  list-style-type: none;
  color:#383838;
}
.addDate{
  margin-top: .1em;
  border-radius: 8px;
  width: 1.8em;
  height: 1.8em;
  background-color: whitesmoke;
}
.addDate:hover{
  cursor: pointer;
  background-color: gray;
}

.mark {
  background: white;
  margin: 3em auto 2.5em 0;
  padding: 1em;
  box-shadow: 0 0 .5rem 0 black;
  width: 100%;
}

.mark h2 {
  text-align: center;
  padding-left: .5em;
  margin: -2.5em auto 1em -.5em;
  color: #383838;
  font-size: 1.25em;
  font-family: 'Trebuchet MS';
}
.close {
 font-size: 2.5em;
 margin: -1.4em 0 auto auto;
  cursor: pointer;
}

.oops{
  width: 1.8em;
  height: 1.8em;
}


.li{
  width: 1.3em;
  height: 1.3em;
}
.mark label {
  display: block;
  margin-top: 1em;
  margin-bottom: 0;
  font-weight: bold;
  color:#151414;
  font-family: 'Poppins';
}

.mark label span {
  color: var(--primary-color);
}

.mark input{
  border-bottom: 3px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0;
  width: 100%;
  height: 2.5em;
  font-family: 'Poppins';
  font-size: 1em;
  font-weight: bold;
}
.selectDate{
  border-bottom: 3px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0;
  width: 45%;
  height: 2.5em;
  font-family: 'Poppins';
  font-size: 1em;
  font-weight: bold;
}
.mark textarea {
  border: none;
  margin-bottom: .3em;
  box-shadow: 0 0 .5rem 0 black;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-family: 'Poppins';
  font-size: 1em;
  font-weight: bold;
}
input[type="file"]{
  display: none;
}

.chooseImage {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: .15em;
  font-weight: bold;
  font-family: 'Trebuchet MS',sans-serif;
  align-items: center;
  background-color: lightblue;
  width: 2.65em;
  border: none;
  box-shadow: 0 .1rem .2rem 0 gray;
  cursor: pointer;
  justify-content: center;
  transition: background-color 0.5s ease-in-out;
}
.chooseImage:hover {
 background-color: #665230;
}
.material-icons{
 margin-top: .25em;
 }

 .postBtn{
  display: grid;
  grid-template-columns: 150px auto;
  }

.submit {
color: whitesmoke;
cursor: pointer;
border-radius: 4px;
box-shadow: 0 .2rem .4rem 0 gray ;
border: none;
width: 4.5em;
margin:1.5em 2.5em auto .5em ;
background-color:#004343b2;
font-weight: 600;
height: 2em;
transition: background-color 0.5s ease-in-out;
}

.resetAll {
  color: whitesmoke;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem 0 gray;
  border: none;
  width: 4.5em;
  margin:1.5em auto auto 2.5em ;
  background-color:#dc143cd9;
  font-weight: 600;
  height:2em ;
  transition: background-color 0.5s ease-in-out;
  }
  
  .submit:hover {
    background-color: #004343;
    }
    .resetAll:hover {
      background-color: #980f2b;
      }


.sell{
  background-color: lightblue;
  border-radius: 100%;
  box-shadow: 0 .1rem .5rem 0 white;
  width: 1.7em;
  height: 1.7em;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.sell:hover{
  background-color: plum;
}

section.contact-right h3 {
  margin-top: -.5em;
  margin-left: 2em;
  font-family: 'Trebuchet MS';
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}

section.contact-right h3 span {
  color: red;
}

section.contact-right iframe {
    width: 95%;
    height: 18em;
    margin-left: .25em;
}
.locationLogo{
  width: 1.6em;
  height: 1.6em;
  margin-top: -4.5em;
  margin-left: .5em;

}
.loco:hover{
  cursor: pointer;
}

.event{
  object-fit: contain;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
}


.logoss{
  align-self: center;
display: grid;
grid-template-columns: 24% 22% 22% 20% 22% ;
}
.clothLogo{
  background-color: cadetblue;
  border: 2px solid darkorchid;
  border-radius: 100%;
  width: 1.8em;
  height: 1.8em;
  margin-left: .75em;
 margin-top: 2em;
}

.laptopSell{
  background-color: darkcyan;
  border: 2px solid darkorchid;
  border-radius: 100%;
  width: 1.9em;
  height: 1.9em;
  margin-top: 2em;
}

.phoneSell{
  background-color: darkcyan;
  border: 2px solid darkorchid;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  margin-top: 2em;
}


.carLogo{
  background-color: darkcyan;
  
  border: 2px solid darkorchid;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  margin-top: 2em;
}

.houseLogo{
  background-color: darkcyan;
  
  border: 2px solid darkorchid;
  border-radius: 100%;
  width: 1.9em;
  height: 1.9em;
  margin-top: 2em;
}

.regionFilter{
 border-right: none;
 border-bottom: none;
 border-top: none;
  width: 2.4em;
  height: 2.5em;
  margin-left: -2.5em;
 border-left: 2px solid #383838;
  color: black;
 background-color: lightblue;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: background-color 0.5s ease-in-out;
}
.regionFilter:hover{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 2px solid black;
 background-color: plum;
}

.center{
  text-align: center;
}

.regionSearch{
    margin-top: 1em;
    border-radius: 8px;
    width: 17.25em;
    height: 2.75em;
    border: none;
    background-color: whitesmoke;
    box-shadow: 0 0 .6rem 0 gray;
    font-family: 'Trebuchet MS';
    font-size: 1.05em;
    text-align: center; 
    margin-left: 2.5%;
}

.nameSearch{
  margin-top: 1em;
    border-radius: 8px;
    width: 17.25em;
    height: 2.75em;
    border: none;
    background-color: whitesmoke;
    box-shadow: 0 0 .6rem 0 gray;
    font-family: 'Trebuchet MS';
    font-size: 1.05em;
    text-align: center;
    margin-left: 2.5%;
}

.searchIcon{
  width: 2.5em;
  height:2.5em;
  margin-bottom: .20em;
  margin-left: -2.7em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 2px solid #383838;
  background-color: lightblue;
  transition: background-color 0.5s ease-in-out;
 }
 .searchIcon:hover{
  border-left: 2px solid black;
  cursor: pointer;
 background-color: plum;
 }

.alerter{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    text-align: center;
   margin-top: 1.4em;
   color:#361500;
}
.item-card-part1{
margin: .8em auto .4em .20em;
 border-radius: 8px;
 box-shadow: 0 .2rem .4rem 0 gray;
 width: 98%;
 height: 25.5em;
display: inline-block;
background: linear-gradient(135deg ,  white 75%,  whitesmoke 85%, gainsboro 100%);
}

.item-rounded-image{
  object-fit: contain;
  width: 100%;
   height: 15.5em;
   margin: .25em .25em .5em 0;
}


.items-attributes {
    list-style-type: none;
   font-weight: 600;
   font-size: .85em;
    margin-left: -1.8em;
    margin-top: .6em;
    color:#151414;
    font-family: 'Comfortaa';
    letter-spacing: .07em;
}
.it-attributes{
  margin-bottom: .3em;
  list-style-type: none;
 
}
.call{
  width: 2em;
  height: 2em;
}

.more{
  text-align: center;
}

.spa{
  font-family: 'comfortaa';
   color:#665230;
  font-size: 1.05em;
  font-weight: bolder;
  border-bottom: 1px solid #665230;
}


.deleteItemLogo{
  width: 1.55em;
  height: 1.5em;
  float: right;
  margin-top:-.1em ;
  margin-right: .45em;
  cursor: pointer;
  z-index: 855;
  background-color:gainsboro;
  border-radius: 12px;
  box-shadow: 0 .1rem .3rem 0 #151414;
  transition: background-color 0.5s ease-in-out;
 
}.deleteItemLogo:hover{
 background-color: gray;
}

.postBtn{
 display: grid;
 grid-template-columns: 60px auto;
}

.closeDelete{
 float: right;
font-size: 1.6em;
 border: none;
 background-color: chocolate;
 margin: 0 .5em .5em auto;
 cursor: pointer;
 }

 .pass label{
   color:black;
 display: block;
 margin-left: .8em;
 margin-bottom: .3em;
  }
  .pass{
    margin-bottom: 1.5em;
    margin-top: 1em;
     }
 
     .updateCheck {
      display: block;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 .1rem .3rem 0 black ;
    width: 4em;
    margin-top: 1.5em;
    background-color: black;
    border: none;
    margin-left: 1.5em;
    }
    .updateCheck:hover {
    background-color: white;
    color: black;
    
    }


body {
  background-color: white;
  font-family: 'Trebuchet MS';
}


@media only screen and (min-width: 690px) {


.grid{
  margin-top: -1em;
 display: flex;
  align-items: center;
 justify-content: center;
}
  section.marketing p{
    font-size: 110%;
   margin-right: -1em;
   width: 75%;
   float: right;
   color: #151414;
   border: none;
   box-shadow: none;
  }
  .event{
    width: 160%;
    height: 25em;
   margin: auto auto auto 1%;
   
  }
 
  .cards{ 
    margin-left: 1%;
      display: grid;
        grid-template-columns:50% 50%;
    }
    .item-card-part1{
      width: 20em;
     }
  }
@media only screen and (min-width: 1015px) {

  section.marketing{
    background: linear-gradient(45deg ,  white 75%,  whitesmoke 80%, gainsboro 90%);
   }
.cards{ 
  margin-left: 1%;
  display: grid;
    grid-template-columns:33% 33% 33%;
  }
  .item-card-part1{
    width: 20em;
    margin-left: .4em;
   }
}
@media only screen and (min-width: 1340px) {
    .cards{ 
      margin-left: 1%;
      display: grid;
        grid-template-columns: 25% 25% 25% 25% ;
      }
    }
              
  @media only screen and (min-width: 630px) {
                

.locationLogo{
  display: none;
 
 }
 
 .logoss{
  display: none;
}
     
}
