<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="app.component.css">

<body id="markSec">
  <div class="navbar">
            <h2  class="navbar-logo"  id="logo">Tem<span>liz</span></h2> 
           <img  class="menu-btn" id="menuCta"   src="https://cdn-icons-png.flaticon.com/128/5234/5234126.png" alt="menu">
           <nav>
               <img  class="exit-btn" id="exitCta" src="https://cdn-icons-png.flaticon.com/128/1828/1828778.png"  alt="exit menu">
           <ul class="navbar-menu">
            <li class="home"><a  routerLink="" routerLinkActive="activebutton" class="home" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="/events" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Events</a></li>
            <li><a routerLink="/commerce"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Ecommerce</a></li>
            <li><a routerLink="/workers"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Worker</a></li>
            <li><a routerLink="/hotel"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Hotel</a></li>
            <li><a routerLink="/account"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Account</a></li>
           </ul>
           </nav>
  </div>
    <br>
    <br id="aboutApp">
    <section class="marketing">
      <div class="logoss">
        <img class="clothLogo" src="https://cdn-icons-png.flaticon.com/128/7829/7829198.png" alt="">
     <img class="houseLogo" src="https://cdn-icons-png.flaticon.com/128/1688/1688400.png" alt="">
     <img class="phoneSell" src="https://cdn-icons-png.flaticon.com/128/2558/2558944.png" alt="">
     <img class="carLogo"  src="https://cdn-icons-png.flaticon.com/128/2108/2108625.png" alt="">
     <img class="laptopSell" src="https://cdn-icons-png.flaticon.com/128/8955/8955083.png" alt="">
      </div>
       <div class="par">
      <P>Welcome to Temliz. Get your websites and webApps done and hosted for you at a very good price.
        <b>Just send us an Email at <span> <a href="mailto:trezorzote@gmail.com">trezorzote&#64;gmail.com</a></span></b> and let us know what your website should look like.
         Examples of webapps we can make for you can  be found at the <span style="color:chocolate;"> main menu button</span>
         or at the navigation bar.
        <span> What are you waiting for, make your business available worldwide.</span>
        your an email away from having your own website.Here is my indeed <a href="https://profile.indeed.com/p/ulrichtresorb-vr99kpm">portofolio</a> aswell.</P>
       </div>
      </section>
 <router-outlet></router-outlet>
 <br>
 <br>
 <br>
 
 <div class="bott">
 <footer id="foot" class="footer-section">
  <div class="cta-text">
    <h6 style="color: rgb(196, 196, 196);">Location   <span>Germany NRW </span></h6>
  </div>
  <div class="cta-text">
      <h6 style="color: rgb(196, 196, 196);">Email 
        <span><a style="text-decoration: none; color:chocolate;"
          href="mailto:trezorzote@gmail.com">trezorzote&#64;gmail.com</a></span></h6>
  </div>
  
<div class="copyright-text">
  <p style="text-align: center; margin-bottom: 0; "> Temliz Enterprise &copy; 2023, all rights reserved</p>
</div>

</footer>
</div>

<script src="./menu.js"></script>
<script src="./home/home.js"></script>

</body>