@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Comforter+Brush&family=Monoton&family=Road+Rage&family=Style+Script&family=Vesper+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila&family=Neucha&family=Permanent+Marker&family=Strait&display=swap');


section.marketing {
  background-color: white;
   margin: .5em .5em .5em .5em;
 }
 
 section.marketing p  {
   align-items: center;
   justify-content: center;
   margin: 1.5em auto auto auto;
   font-family: 'Poppins', cursive;
   font-weight: 900;
   font-size: 1.05em;
   color:#4d4d4d;
 }

 .par{
  padding: 1.5em;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logoss{
  align-self: center;
display: grid;
grid-template-columns: 23% 22% 22% 19% 22% ;
}
.clothLogo{
  box-shadow: 0 0 0 .2rem #361500;
  background-color: #361500;
  border-radius: 100%;
  width: 1.95em;
  height: 1.95em;
  margin-left: 1.25em;
 margin-top: 2em;
}

.laptopSell{
  background-color: #361500;
  box-shadow: 0 0 0 .2rem #361500;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  margin-top: 2em;
}

.phoneSell{
  width: 2.15em;
  height: 2.15em;
  margin-top: 2em ;
  
}

.carLogo{
  box-shadow: 0 0 0 .2rem #361500;
  background-color: #361500;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  margin-top: 2em;
}

.houseLogo{
  box-shadow: 0 0 0 .2rem #361500;
  background-color: #361500;
  border-radius: 100%;
  width: 1.95em;
  height: 1.95em;
  margin-top: 2em;
}







body {
  background-color: white;
  font-family: 'Trebuchet MS';
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #361500;
  box-shadow: 0 .2em .5em 0 rgb(0, 0, 0);
  width: 100%;
  height:2.9em;
  margin-left: 0;
  z-index: 998;
}

.navbar .navbar-logo {
  margin-left: -.5em;
 font-weight: 500;
  color: orange;
  text-decoration: none;
  font-family: 'Laila';
  font-size: 20px;
  margin-top: 0;
}

.navbar .navbar-logo span {
  color: beige;
  font-weight: 500;
}


 .menu-btn {
  width: 2.3em;
  float: right;
  margin-right: -.3em;
  margin-top: -0.20em;
  cursor: pointer;
}

.side{
  width: 1.5em;
  height: 1.5em;
}
nav {
  position: fixed;
  z-index: 989;
  width: 100%;
  right: 0;
  top:0;
  background-color: rgb(255, 255, 255);
  height: 22.5em;
  padding: 1em;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav .exit-btn {
  margin-top: .25em;
  width: 1.15em;
  height: 1.2em;
  cursor: pointer;
  float: right;
  margin-right:-.2em;
  margin-bottom: .5em;
}

nav .navbar-menu {
  margin-top: 2.9em;
  text-align: center;
  font-weight: bold;
  margin-right: 1em;
}

nav .navbar-menu li {
  color: #361500;
  list-style-type: none;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-family: 'Comfortaa';
  text-align: left;
  margin-left: -1.75em;
  font-weight: bold;
  margin-top: 1.3em;
  font-size: 1.1em;
  border-bottom: 2px solid #361500;
}
nav .navbar-menu li:hover {
  border-bottom: 2px solid chocolate;
}

nav .navbar-menu a {
  color: black;
  text-decoration: none;
  margin-left: .7em;
}


 nav.open-nav{
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
          -webkit-transition: -webkit-transform .5s ease-in-out;
          transition: -webkit-transform .5s ease-in-out;
          transition: transform .5s ease-in-out;
          transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav ul.navbar-menu a.home {
  text-decoration: none;
  color: chocolate;
}

@media only screen and (min-width: 750px) {
  .menu-btn, .exit-btn {
    display: none;
  }
  .navbar {
    position:-webkit-sticky;
    background-color:rgb(30, 30, 30);
    box-shadow: 0 0 .5rem 0 #361500;
  }
  .navbar .navbar-logo span {
    color: chocolate; 
  }
  .navbar .navbar-logo  {
    color:gainsboro;
    margin-top: 0;
    font-size: 20px;
  }
  .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
  }
  nav {
    background: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 430px auto;
        grid-template-columns: 400px auto;
    position: unset;
    height: auto;
    width: 70%;
    padding: .5em;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  nav ul.navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    margin-top: -1.5em;
    position: absolute;
    right: -5.5em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav ul.navbar-menu li {
    font-weight: 300;
    font-size: 1em;
    float: right;
    font-family:'trebuchet MS';
    margin-right: 4.5em;
    margin-top: 1em;
    border-bottom: none;
  }
  nav ul.navbar-menu li:hover {
    border-bottom: none;
  }
  
  nav ul.navbar-menu a {
    text-decoration: none;
    color: gainsboro;
  }
  nav ul.navbar-menu a.home {
    text-decoration: none;
    color: white;
  }
  
nav .navbar-menu a:hover {
  color: white;
  border-bottom: 2px solid chocolate;

}
 
}


              
  @media only screen and (min-width: 630px) {
 .logoss{display: none;}
     
}
.bott{
 bottom: 0;
  width: 100%;
  height: 20px;
}
.footer-section{
  position: relative;
  padding: 1em;
  margin-top: 0em;
  width: 100%;
  background-color: #151414;
  bottom: 0;
  z-index: 0;
}
.footer-section span{
 color: rgb(138, 138, 138);

}
.copyright-text{
 border-bottom: -2em;
 color:rgb(100, 100, 100); 
}

