<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="app.component.css">
<script src="menu.js"></script>

<body id="markSec">
   
  <div class="navbar">
            <h2  class="navbar-logo"  id="logo">Tem<span>liz</span></h2> 
           <img  class="menu-btn" id="menuCta"   src="https://cdn-icons-png.flaticon.com/128/5234/5234126.png" alt="menu">
           <nav>
               <img  class="exit-btn" id="exitCta" src="https://cdn-icons-png.flaticon.com/128/1828/1828778.png"  alt="exit menu">
           <ul class="navbar-menu">
            <li><a href="#aboutApp">Home</a></li>
            <li><a routerLink="/events" routerLinkActive="activebutton" ariaCurrentWhenActive="page">event</a></li>
            <li><a routerLink="/commerce"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">commerce</a></li>
            <li><a routerLink="/workers"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">worker</a></li>
           </ul>
           </nav>
  </div>
    <br>
    <br id="aboutApp">
    <section class="marketing">
      <div class="logoss">
        <img class="clothLogo" src="https://cdn-icons-png.flaticon.com/128/7829/7829198.png" alt="">
     <img class="houseLogo" src="https://cdn-icons-png.flaticon.com/128/1688/1688400.png" alt="">
     <img class="phoneSell" src="https://cdn-icons-png.flaticon.com/128/2558/2558944.png" alt="">
     <img class="carLogo"  src="https://cdn-icons-png.flaticon.com/128/2108/2108625.png" alt="">
     <img class="laptopSell" src="https://cdn-icons-png.flaticon.com/128/8955/8955083.png" alt="">
    </div>
      <P>welcome to Temliz Webapp where you can get your dream website done for you at a very good price
        <b>just send us a mail at <span> trezorzote@gmail.com </span></b> and let us know what your website should look like
         examples of websites we can make for you can  be found at the main menu button.
        <span> what are you waiting for to let your business available worldwide</span>
        your an email away from having your own website.</P>
    </section>
   
 <router-outlet></router-outlet>
 <footer id="foot" class="footer-section">
  <div class="cta-text">
    <h6 style="color: rgb(196, 196, 196);">Location   <span>Germany NRW </span></h6>
  </div>
  <div class="cta-text">
      <h6 style="color: rgb(196, 196, 196);">Email 
        <span><a style="text-decoration: none; color:chocolate;"
          href="mailto:trezorzote@gmail.com">trezorzote@gmail.com</a></span></h6>
  </div>
  
<div class="copyright-text">
  <p style="text-align: center; margin-bottom: 0; "> Temliz Enterprise &copy; 2022, all rights reserved</p>
</div>

</footer>

</body>