
<link rel="stylesheet" href="home.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<body id="markSec">
    
    <section class="main">
        <div class="image-container">
            <div class="jarvis">
                <img src="https://cdn-icons-gif.flaticon.com/9066/9066197.gif" alt="image">
            </div>
            <h1><span>T E M</span> L I Z</h1>
            <div class="par">
            <p>I'm a Virtual Assistant for Temliz, you can ask about this webApp.
              click on the microphone before speaking. For example say <span>"tell me something about this app" </span>or 
            <span>"explain the Account page" </span>or <span>"explain the event page"</span> or the other pages.
             also try saying <span>"open youtube"</span> or
             <span> "open the calculator" </span> or <span>"open google"</span> or ask <span>"what is todays date"</span>
             or <span>"what is...?" </span> <span>"who is ...?"</span> and I will answer you. If I don't have an answer to your question 
              I might begin a search on google.
            </p>
        </div>
        </div>
        <div class="radio-container" hidden>
            <input type="radio" id="eng" name="language" value="en-US" checked>
            <label for="English">English</label><br>
            <input type="radio" id="ger" name="language" value="de-DE">
            <label for="German">German</label><br>
        </div>
        <div class="press">
            <button class="talk" id="idtalk"><i class="fas fa-microphone-alt"></i></button>
            <h1 class="content" id="idcontent"> Click here to speak</h1>
        </div>
    </section>
   
    <script src="home.js"></script>
</body>

